# Compiled source #
###################
*.com
*.d
*.bak
*.out
*.class
*.dll
*.exe
*.o
*.so
Default/*
bin/*

# backup files #
################
*~

# output data #
###############
map/
*.txt


# eclipse #
###########
.settings/
.cproject
.project